certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
dill==0.3.6
Flask==2.2.2
greenlet==2.0.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.1
multiprocess==0.70.14
numpy==1.24.1
pandas==1.5.2
python-dateutil==2.8.2
pytz==2022.7
requests==2.28.1
simple-scheduler==1.11.12
six==1.16.0
SQLAlchemy==1.4.45
urllib3==1.26.13
Werkzeug==2.2.2
