<!DOCTYPE html>


<script>

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }


	function hatoho1() {
	$(".tsetmc-info tbody").empty();
	$(".tsetmc-info thead").empty();
	$(".tsetmc-info").find('thead')
			    .append($('<tr>')
			        .append($('<th>')
			            .text('Index')
			        )
					.append($('<th>')
			            .text('TBid')
			        )
					.append($('<th>')
			            .text('TAsk')
			        )
					.append($('<th>')
			            .text('BPA')
			        )
					.append($('<th>')
			            .text('Ind>Ins')
			        )
					.append($('<th>')
			            .text('B(OB)')
			        )
					.append($('<th>')
			            .text('S(OB)')
			        )
					.append($('<th>')
			            .text('WB(OB)')
			        )
					.append($('<th>')
			            .text('WS(OB)')
			        )
					.append($('<th>')
			            .text('B(Ind)')
			        )
					.append($('<th>')
			            .text('S(Ind)')
			        )
					.append($('<th>')
			            .text('WB(Ind)')
			        )
					.append($('<th>')
			            .text('WS(Ind)')
			        )
			    );
	{% for key,value in dfk.iterrows() %}
		$(".tsetmc-info").find('tbody')
		    .append($('<tr>')
		        .append($('<td>')
					.html(numberWithCommas({{ value.shakhes }}) + ' (' + '{{ value.shPc }}' + '%)')
		        )
				.append($('<td>')
					.html('{{ value.bid|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.ask|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ (value.bid/(value.bid+value.ask)*100)|round(2) }}' + '%')
		        )
				.append($('<td>')
					.html('{{ value.hatoho|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.ak|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.af|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.akw|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.afw|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.akha|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.afha|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.akhaw|round(2) }}')
		        )
				.append($('<td>')
					.html('{{ value.afhaw|round(2) }}')
		        )
		    );
	{% endfor %}
	}

	function hatoho2() {
	$(".info tbody").empty();
	$(".info thead").empty();
	$(".info").find('thead')
			    .append($('<tr>')
			        .append($('<th>')
			            .text('Negative')
			        )
					.append($('<th>')
			            .text('Neutral')
			        )
					.append($('<th>')
			            .text('Positive')
			        )
					.append($('<th>')
			            .text('Adj%>0')
			        )
					.append($('<th>')
			            .text('Close%>0')
			        )
					.append($('<th>')
			            .text('Market Cap')
			        )
					.append($('<th>')
			            .text('USD−IRR')
			        )
			    );
	{% for key,value in dfk.iterrows() %}
		$(".info").find('tbody')
		    .append($('<tr>')
		        .append($('<td>')
					.html(({{ (dfm['negative'].values[0]*100)|round(2) }} + '%'))
		        )
				.append($('<td>')
					.html(({{ (dfm['neutral'].values[0]*100)|round(2) }} + '%'))
		        )
				.append($('<td>')
					.html(({{ (dfm['positive'].values[0]*100)|round(2) }} + '%'))
		        )
				.append($('<td>')
					.html({{ (dfm['pc_positive'].values[0])|round(2) }} + '%')
		        )
				.append($('<td>')
					.html({{ (dfm['pl_positive'].values[0])|round(2) }} + '%')
		        )
				.append($('<td>')
					.html({{ (dfm['tsetmc_market_cap'].values[0])|round(0) }} + ' Billion Dollar')
		        )
				.append($('<td>')
					.html(numberWithCommas({{ (dfm['dollar'].values[0]*10)|round(0) }}) + ' (' + {{ dfm['dollar_pl'].values[0] }} + '%)')
		        )
		    );
	{% endfor %}
	}

hatoho1()
hatoho2()
  </script>
